@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

@tailwind preflight;

@tailwind components;

@tailwind utilities;

html, * {
  font-family: 'Quicksand', sans-serif;
}

body {
  color: #3d4852;
  background-color: #f1f5f8;
}

.header-anchor {
  display: none;
}

.content p {
  margin-bottom: 16px;
}

.content h1,
.content h2,
.content h3 {
  margin: 24px 0;
}
